

button.btn.btn-secondary.topbarbtn{
    color: #8038d0;
    }
    
    button.btn.btn-secondary{
    color: #8038d0;
    }
    
    
    li.toc-list-item__active {
    color: #ac6df5;
    }
    
    a.toc-linknode-name--H2 {
    color: #ac6df5;
    }
    
    main.bd-content #main-content a, main.bd-content #main-content a:visited {
    color: #8038d0;
    }
    
    bd-toc nav a:hover, .bd-toc nav li.active > a.active {
    color: #ac6df5;
    }
    
    a, a.reference.external,a:visited{
    color: #8038d0;
    font-family: "Avenir", Avenir, serif;
    }
    a.anchorjs-link {
        color: #8038d0;
    font-family: "Avenir", Avenir, serif;
    }
    a.anchor-link {
        color: #8038d0;
    font-family: "Avenir", Avenir, serif;
    }
    
    a.nav-link {
    color: #8038d0;
    font-family: "Avenir", Avenir, serif;
    }
    
    .prev-next-bottom a.right-next{
    color: #8038d0;
    }
    
    .prev-next-bottom a.left-prev{
    color: #8038d0;
    }
    
    .bd-sidebar nav ul.nav a:hover, .bd-sidebar nav ul.nav li.active > a, .bd-sidebar nav ul.nav li.active > a:hover {
    color: #ac6df5;
    max-width: 350px;
    }
    
    hr {
    border-top: 1px solid #8038d0;
    }
    
    
    code {
    color: #ac6df5;
    }
    
    
    section > p,
    section > footer,
    section > table {
    width: 120%;
    font-size: 14px;
    }
    
    p{
        margin-top: 1em;
        text-align: justify;
    }
    
    .footer {
    height: 20px;
    width: 815px;
    text-align: center !important;
    visibility: hidden;

    }

    
    ::-webkit-scrollbar{
    width:0;
    background: #8038d0;
    }
    
    ::-webkit-scrollbar-thumb{
    width:0;
    background: #300861;
    }
    
    
    
    .c-sidebar__entry--active.c-sidebar__entry--active {
    color: #ac6df5;
    }
    
    h1  {
    
     display: inline;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 3.2rem;
    line-height: 1;
    font-family: "Avenir", Avenir, serif!important;
    
    }
    
    /**/
    
    h2 {
    
    font-weight: 100;
    margin-top: 2.1rem;
    margin-bottom: 3rem;
    font-size: 2.2rem;
    line-height: 1;
    font-family: "Avenir", Avenir, serif!important;;
    }
    
    h3 {
    
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    line-height: 1;
    font-family: "Avenir", Avenir, serif!important;;
    }
    
    h4 {
    
    font-weight: 400;
    font-size: 1.0rem;
    margin-top: 3rem;
    margin-bottom: 1.4rem;
    line-height: 1;
    font-family: "Avenir", Avenir, serif!important;;
    }
    
    .c-sidebar__title{
    font-family: "Avenir", Avenir, serif;
    color: #8038d0;
    }
    
    
    h2.c-sidebar__title{
    font-family: "Avenir", Avenir, serif;
    font-size: 2.0em;
    }
    
    li.c-sidebar__divider{
    border-top: 1px solid #8038d0;
    
    }
    
    ul.toc__menu a {
    display: block;
    padding: 0.25rem .75rem;
    color:  #ac6df5;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.5;
    }
    
    nav.onthispage li.active a {
    color: #ac6df5;
    }
    li.toc-list-item {
    color: #8038d0;
    }
    li.toc-list-item-active {
    color: #ac6df5;
    }
    
    li.active {
    border-left: 1px solid #ac6df5;
    margin-left: -1px;
    }
    /*li.active {
    color: #8038d0;
    } */
    li.toc-list-itme-active {
    color: #ac6df5;
    }
    
    
    ul.c-sidebar__chapters {
    font-size: 13px;
    font-family: "Avenir", Avenir, serif;
    color: #ac6df5;
    font-weight: bold;
    }
    
    .c-page__nav{
    width:  120%;
    border-color: darkgrey;
    }
    
    .c-page__nav__prev{
    width:  120%;
    border-color: darkgrey;
    }
    
    .c-page__nav__next{
    width:  120%;
    border-color: darkgrey;
    }
    
    
    div.navbar-brand-box {
    font-family: "Avenir", Avenir, serif;
    width: 120%;
    }
    
    div {
    /*	background-color: orange;*/
        font-family: "Avenir", Avenir, serif;
    }
    
    div.cell {
    /*	background-color: orange;*/
        font-family: "Avenir", Avenir, serif;
    }
    
    div.c-textbook__content{
    /*background-color: orange;*/
        font-family: "Avenir", Avenir, serif;
    }
    
    div.c-topbar{
    /*background-color: orange;*/
        font-family: "Avenir", Avenir, serif;
    }
    
    div.text_cell_render{
    width: 90%;
    }
    
    /*<!-- controls centre page width -->*/
    div.jb_cell{
    width: 130%;
    }
    
    main.jupyter-page{
    /*background-color: orange;*/
    font-family: "Avenir", Avenir, serif;
    text-align: justify;
    
    width: 100%;
    }
    
    main.c-textbook__page{
    /*	background-color: orange;*/
    font-family: "Avenir", Avenir, serif;
    color:black;
    font-size: 16px;
    }
    
    div.col-12.col-md-3.bd-sidebar.site-navigation.show {
    font-family: "Avenir", Avenir, serif;
    font-weight: bold;
    opacity: 0.95;
    background-color: #f1f1f1
    }
    
    div.col-12.col-md-9.pl-md-3.pr-md-0 {
    width: 130%;
    }
    
    
    main.overflow-auto {
    overflow: initial !important;
    }
    
    @media (min-width: 1405px) {
    div.container-xl {
        max-width: 100% !important;
    }
    div#site-navigation {
        max-width: 300px;
    }
    button#navbar-toggler {
        margin-left: 10px !important;
    }
    footer {
        width: 100% !important;
    }
    }
    
    div#site-navigation a.navbar-brand,
    div#site-navigation .navbar-brand-box {
    width: auto;
    }
    
    html, html *:not(i) {
    font-family: 'Roboto', sans-serif !important;
    }
    
    li.active {
    border-left: 10 !important
    }
    
    #site-navigation {
        background-color: #3d1966;
    }
    #navbar-toggler {
        color: #8038d0;
    }

#site-navigation nav ul.nav li a, #site-navigation nav ul.nav ul li a {
    color: #f1f1f1!important;
    font-size: medium;
}     

#site-navigation h1.site-logo {
    margin: .5em 0 0 0;
    font-size: 1.5em;
    color: #f1f1f1!important;
    text-align: center;
}

#search-input{

    color: #8038d0;
}

#site-navigation div.navbar_extra_footer {
    text-align: center;
    font-size: .9em;
    color: #f1f1f1;
    margin-bottom: 3em;
}

p.caption span.caption-text{
    color: #f1f1f1;
    font-weight: bold;
    font-size: 1.3em;
}

.table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}